{% extends 'trkr/base.html' %}
{% load static %}
{% block content %}
            <div class="content container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="links">
                            <!-- Example row of columns -->
                            <div class="row gx-5">
                                <div class="col-lg-4">
                                    <div class="thumbnail">
                                        <img src="{% static "images/customer2.JPG" %}" alt="client"/>
                                        <div class="caption">
                                            <h2>Manage Clients</h2>
                                            <p>Get more people to the gym! </p>
                                            <p><a class="btn btn-primary" href="{% url 'trkr:client_list' %}"
                                                  role="button">View Clients &raquo;</a></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="thumbnail">
                                        <img src="{% static "images/weightss1.JPG" %}" alt="non-stock"/>
                                        <div class="caption">
                                            <h2>Update Exercise List</h2>
                                            <p></p>
                                            <p><a class="btn btn-primary" href="{% url 'trkr:exercise_list' %}"
                                           role="button">View Exercises</a></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="thumbnail">
                                        <img src="{% static "images/active.JPG" %}" alt="activities"/>
                                        <div class="caption">
                                            <h2>Log Activities</h2>
                                            <p>Manage Client Activities</p>
                                            <p><a class="btn btn-primary" href="{% url 'trkr:activity_list' %}"
                                                  role="button">View Activities &raquo;</a></p>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
{% endblock %}
